#blank .as24-carousel-item { width: 210px; }

#smaller-viewport .as24-carousel-item,
#default .as24-carousel-item { width: 302px; }

#slider .as24-carousel-item { max-width: 640px; }
#slider .as24-carousel-wrapper { height: 480px; }

.curbed {
  max-width: 600px;
  margin: 0 auto;
}

.custom-card {
  display: flex;
  flex: 1;
  min-width: 0;
  flex-direction: column;
  outline-style: none;
}
.custom-card__description {
  padding: 20px 20px 28px;
}
.custom-card__description h2, .custom-card__description h3, .custom-card__description h4, .custom-card__description h5 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
}
.custom-card__description p {
  color: #333;
}
.custom-card__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
}
.custom-card__image {
  max-height: 100%;
  object-fit: contain;
}
