<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Showcar UI Gallery</title>
  <meta name="description" content=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="http://as24-showcar-ui.aws.autoscout24.com/dist/showcar-ui.css"/>
  <link rel="stylesheet" href="../dist/showcar-carousel.css"/>
</head>
<body>

<!-- default carousel -->
<as24-carousel id="default">
  <as24-carousel-item>
    <a href="javascript:void(0);">
      <div class="as24-carousel-image-container">
        <img data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/4.jpeg.pagespeed.ce.QIpBWuZ6fh.jpg"
             src=""
             alt="">
      </div>
      <div class="as24-carousel-description">
        <h5>BMW X4 M40i very super duper extra long headline</h5>
        <p>Ein bisschen M</p>
      </div>
    </a>
  </as24-carousel-item>
  <as24-carousel-item>
    <a href="javascript:void(0);">
      <div class="as24-carousel-image-container">
        <img data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/5.jpeg.pagespeed.ce.-boJ763fJW.jpg"
             src=""
             alt="">
      </div>
      <div class="as24-carousel-description">
        <h5>BMW X4 M40i</h5>
        <p>Ein bisschen R</p>
      </div>
    </a>
  </as24-carousel-item>
  <as24-carousel-item>
    <a href="javascript:void(0);">
      <div class="as24-carousel-image-container">
        <img data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/0.jpeg.pagespeed.ce.r9T0YBgvdW.jpg"
             src=""
             alt="">
      </div>
      <div class="as24-carousel-description">
        <h5>BMW X4 M41i</h5>
        <p>Ein bisschen S und T</p>
      </div>
    </a>
  </as24-carousel-item>
  <as24-carousel-item>
    <a href="javascript:void(0);">
      <div class="as24-carousel-image-container">
        <img data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/1.jpeg.pagespeed.ce.tbXt-f6ctq.jpg"
             src=""
             alt="">
      </div>
      <div class="as24-carousel-description">
        <h5>BMW X4 M40i</h5>
        <p>Ein bisschen M</p>
      </div>
    </a>
  </as24-carousel-item>
  <as24-carousel-item>
    <a href="javascript:void(0);">
      <div class="as24-carousel-image-container">
        <img data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/4.jpeg.pagespeed.ce.QIpBWuZ6fh.jpg"
             src=""
             alt="">
      </div>
      <div class="as24-carousel-description">
        <h5>BMW X4 M40i</h5>
        <p>Ein bisschen M</p>
      </div>
    </a>
  </as24-carousel-item>
  <as24-carousel-item>
    <a href="javascript:void(0);">
      <div class="as24-carousel-image-container">
        <img data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/2.jpeg.pagespeed.ce.dOAzR0wpA7.jpg"
             src=""
             alt="">
      </div>
      <div class="as24-carousel-description">
        <h5>BMW X4 M40i</h5>
        <p>Ein bisschen M</p>
      </div>
    </a>
  </as24-carousel-item>
</as24-carousel>



<!-- slider carousel -->
<as24-carousel id="slider" mode="slider" gap="0">
  <as24-carousel-item>
    <a href="javascript:void(0);">
      <div class="as24-carousel-image-container">
        <img data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/4.jpeg.pagespeed.ce.QIpBWuZ6fh.jpg"
             src=""
             alt="">
      </div>
      <div class="as24-carousel-description">
        <h5>BMW X4 M40i very super duper extra long headline</h5>
        <p>Ein bisschen M</p>
      </div>
    </a>
  </as24-carousel-item>
  <as24-carousel-item>
    <a href="javascript:void(0);">
      <div class="as24-carousel-image-container">
        <img data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/5.jpeg.pagespeed.ce.-boJ763fJW.jpg"
             src=""
             alt="">
      </div>
      <div class="as24-carousel-description">
        <h5>BMW X4 M40i</h5>
        <p>Ein bisschen R</p>
      </div>
    </a>
  </as24-carousel-item>
  <as24-carousel-item>
    <a href="javascript:void(0);">
      <div class="as24-carousel-image-container">
        <img data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/0.jpeg.pagespeed.ce.r9T0YBgvdW.jpg"
             src=""
             alt="">
      </div>
      <div class="as24-carousel-description">
        <h5>BMW X4 M41i</h5>
        <p>Ein bisschen S und T</p>
      </div>
    </a>
  </as24-carousel-item>
  <as24-carousel-item>
    <a href="javascript:void(0);">
      <div class="as24-carousel-image-container">
        <img data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/1.jpeg.pagespeed.ce.tbXt-f6ctq.jpg"
             src=""
             alt="">
      </div>
      <div class="as24-carousel-description">
        <h5>BMW X4 M40i</h5>
        <p>Ein bisschen M</p>
      </div>
    </a>
  </as24-carousel-item>
  <as24-carousel-item>
    <a href="javascript:void(0);">
      <div class="as24-carousel-image-container">
        <img data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/4.jpeg.pagespeed.ce.QIpBWuZ6fh.jpg"
             src=""
             alt="">
      </div>
      <div class="as24-carousel-description">
        <h5>BMW X4 M40i</h5>
        <p>Ein bisschen M</p>
      </div>
    </a>
  </as24-carousel-item>
  <as24-carousel-item>
    <a href="javascript:void(0);">
      <div class="as24-carousel-image-container">
        <img data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/2.jpeg.pagespeed.ce.dOAzR0wpA7.jpg"
             src=""
             alt="">
      </div>
      <div class="as24-carousel-description">
        <h5>BMW X4 M40i</h5>
        <p>Ein bisschen M</p>
      </div>
    </a>
  </as24-carousel-item>
</as24-carousel>


<script src="http://as24-showcar-ui.aws.autoscout24.com/dist/showcar-ui.js"></script>
<script src="../dist/showcar-carousel.js"></script>

<script>
  document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
</script>
</body>
</html>
