<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Showcar UI Gallery</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://as24-showcar-ui.aws.autoscout24.com/dist/showcar-ui.css">
  <link rel="stylesheet" href="../dist/showcar-carousel.css">
  <link rel="stylesheet" href="example/custom.css">
</head>
<body>

<p>Check the <a href="example/custom.css">custom.css</a> in order to see how to customise the carousel</p>

<hr>

<h3 class="sc-font">In the div, sends events</h3>

<div class="curbed" id="events-catcher">
  <as24-carousel id="smaller-viewport" role="some-role">
    <div class="as24-carousel-item">
      <a class="custom-card" href="http://autoscout24.com">
        <div class="custom-card__picture">
          <img class="custom-card__image"
               data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/4.jpeg.pagespeed.ce.QIpBWuZ6fh.jpg"
              src=""
              alt="">
        </div>
        <div class="custom-card__description">
          <h5>BMW X4 M40i very super duper extra long headline</h5>
          <p>Ein bisschen M</p>
        </div>
      </a>
    </div>
    <div class="as24-carousel-item">
      <a class="custom-card" href="http://autoscout24.com">
        <div class="custom-card__picture">
          <img class="custom-card__image"
               data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/5.jpeg.pagespeed.ce.-boJ763fJW.jpg"
              src=""
              alt="">
        </div>
        <div class="custom-card__description">
          <h5>BMW X4 M40i</h5>
          <p>Ein bisschen R</p>
        </div>
      </a>
    </div>
    <div class="as24-carousel-item">
      <a class="custom-card" href="http://autoscout24.com">
        <div class="custom-card__picture">
          <img class="custom-card__image"
               data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/0.jpeg.pagespeed.ce.r9T0YBgvdW.jpg"
              src=""
              alt="">
        </div>
        <div class="custom-card__description">
          <h5>BMW X4 M41i</h5>
          <p>Ein bisschen S und T</p>
        </div>
      </a>
    </div>
    <div class="as24-carousel-item">
      <a class="custom-card" href="http://autoscout24.com">
        <div class="custom-card__picture">
          <img class="custom-card__image"
               data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/1.jpeg.pagespeed.ce.tbXt-f6ctq.jpg"
              src=""
              alt="">
        </div>
        <div class="custom-card__description">
          <h5>BMW X4 M40i</h5>
          <p>Ein bisschen M</p>
        </div>
      </a>
    </div>
    <div class="as24-carousel-item">
      <a class="custom-card" href="http://autoscout24.com">
        <div class="custom-card__picture">
          <img class="custom-card__image"
               data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/3.jpeg.pagespeed.ce.QIpBWuZ6fh.jpg"
              src=""
              alt="">
        </div>
        <div class="custom-card__description">
          <h5>BMW X4 M40i</h5>
          <p>Ein bisschen M</p>
        </div>
      </a>
    </div>
    <div class="as24-carousel-item">
      <a href="">
        <div class="custom-card__picture">
          <img class="custom-card__image"
               data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/2.jpeg.pagespeed.ce.dOAzR0wpA7.jpg"
              src=""
              alt="">
        </div>
        <div class="custom-card__description">
          <h5>BMW X4 M40i</h5>
          <p>Ein bisschen M</p>
        </div>
      </a>
    </div>
    <div class="as24-carousel-item">
      <a class="custom-card" href="http://autoscout24.com">
        <div class="custom-card__picture">
          <img class="custom-card__image"
               data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/4.jpeg.pagespeed.ce.QIpBWuZ6fh.jpg"
              src=""
              alt="">
        </div>
        <div class="custom-card__description">
          <h5>BMW X4 M40i very super duper extra long headline</h5>
          <p>Ein bisschen M</p>
        </div>
      </a>
    </div>
    <div class="as24-carousel-item">
      <a class="custom-card" href="http://autoscout24.com">
        <div class="custom-card__picture">
          <img class="custom-card__image"
               data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/5.jpeg.pagespeed.ce.-boJ763fJW.jpg"
              src=""
              alt="">
        </div>
        <div class="custom-card__description">
          <h5>BMW X4 M40i</h5>
          <p>Ein bisschen R</p>
        </div>
      </a>
    </div>
  </as24-carousel>
</div>

<hr>

<h3 class="sc-font">Any content</h3>

<!-- default carousel -->
<as24-carousel id="blank">
  <div class="as24-carousel-item">
    <div>
      <h3 class="sc-font">Testin text</h3>
      <p>Lorem ipsum....</p>
    </div>
  </div>
  <div class="as24-carousel-item">
    <div>
      <h3 class="sc-font">Testin text</h3>
      <p>Lorem ipsum....</p>
    </div>
  </div>
  <div class="as24-carousel-item">
    <div>
      <h3 class="sc-font">Testin text</h3>
      <p>Lorem ipsum....</p>
      <h3 class="sc-font">Testin text</h3>
      <p>Lorem ipsum....</p>
      <h3 class="sc-font">Testin text</h3>
      <p>Lorem ipsum....</p>
    </div>
  </div>
  <div class="as24-carousel-item">
    <div>
      <h3 class="sc-font">Testin text</h3>
      <p>Lorem ipsum....</p>
    </div>
  </div>
  <div class="as24-carousel-item">
    <div>
      <h3 class="sc-font">Testin text</h3>
      <p>Lorem ipsum....</p>
    </div>
  </div>
  <div class="as24-carousel-item">
    <div>
      <h3 class="sc-font">Testin text</h3>
      <p>Lorem ipsum....</p>
    </div>
  </div>
  <div class="as24-carousel-item">
    <div>
      <h3 class="sc-font">Testin text</h3>
      <p>Lorem ipsum....</p>
    </div>
  </div>
  <div class="as24-carousel-item">
    <div>
      <h3 class="sc-font">Testin text</h3>
      <p>Lorem ipsum....</p>
    </div>
  </div>
  <div class="as24-carousel-item">
    <div>
      <h3 class="sc-font">Testin text</h3>
      <p>Lorem ipsum....</p>
    </div>
  </div>
  <div class="as24-carousel-item">
    <div>
      <h3 class="sc-font">Testin text</h3>
      <p>Lorem ipsum....</p>
    </div>
  </div>
  <div class="as24-carousel-item">
    <div>
      <h3 class="sc-font">Testin text</h3>
      <p>Lorem ipsum....</p>
    </div>
  </div>
  <div class="as24-carousel-item">
    <div>
      <h3 class="sc-font">Testin text</h3>
      <p>Lorem ipsum....</p>
    </div>
  </div>
</as24-carousel>

<hr>

<h3 class="sc-font">With images</h3>

<!-- default carousel -->
<as24-carousel id="default">
  <div class="as24-carousel-item">
    <a class="custom_card" href="http://autoscout24.com">
      <div class="custom-card__picture">
        <img class="custom-card__image"
             data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/4.jpeg.pagespeed.ce.QIpBWuZ6fh.jpg"
             src=""
             alt="">
      </div>
      <div class="custom-card__description">
        <h5>BMW X4 M40i very super duper extra long headline</h5>
        <p>Ein bisschen M</p>
      </div>
    </a>
  </div>
  <div class="as24-carousel-item">
    <a class="custom_card" href="http://autoscout24.com">
      <div class="custom-card__picture">
        <img class="custom-card__image"
             data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/5.jpeg.pagespeed.ce.-boJ763fJW.jpg"
             src=""
             alt="">
      </div>
      <div class="custom-card__description">
        <h5>BMW X4 M40i</h5>
        <p>Ein bisschen R</p>
      </div>
    </a>
  </div>
  <div class="as24-carousel-item">
    <a class="custom_card" href="http://autoscout24.com">
      <div class="custom-card__picture">
        <img class="custom-card__image"
             data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/0.jpeg.pagespeed.ce.r9T0YBgvdW.jpg"
             src=""
             alt="">
      </div>
      <div class="custom-card__description">
        <h5>BMW X4 M41i</h5>
        <p>Ein bisschen S und T</p>
      </div>
    </a>
  </div>
  <div class="as24-carousel-item">
    <a class="custom_card" href="http://autoscout24.com">
      <div class="custom-card__picture">
        <img class="custom-card__image"
             data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/1.jpeg.pagespeed.ce.tbXt-f6ctq.jpg"
             src=""
             alt="">
      </div>
      <div class="custom-card__description">
        <h5>BMW X4 M40i</h5>
        <p>Ein bisschen M</p>
      </div>
    </a>
  </div>
  <div class="as24-carousel-item">
    <a class="custom_card" href="http://autoscout24.com">
      <div class="custom-card__picture">
        <img class="custom-card__image"
             data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/3.jpeg.pagespeed.ce.QIpBWuZ6fh.jpg"
             src=""
             alt="">
      </div>
      <div class="custom-card__description">
        <h5>BMW X4 M40i</h5>
        <p>Ein bisschen M</p>
      </div>
    </a>
  </div>
  <div class="as24-carousel-item">
    <a href="">
      <div class="custom-card__picture">
        <img class="custom-card__image"
             data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/2.jpeg.pagespeed.ce.dOAzR0wpA7.jpg"
             src=""
             alt="">
      </div>
      <div class="custom-card__description">
        <h5>BMW X4 M40i</h5>
        <p>Ein bisschen M</p>
      </div>
    </a>
  </div>
  <div class="as24-carousel-item">
    <a class="custom_card" href="http://autoscout24.com">
      <div class="custom-card__picture">
        <img class="custom-card__image"
             data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/4.jpeg.pagespeed.ce.QIpBWuZ6fh.jpg"
             src=""
             alt="">
      </div>
      <div class="custom-card__description">
        <h5>BMW X4 M40i very super duper extra long headline</h5>
        <p>Ein bisschen M</p>
      </div>
    </a>
  </div>
  <div class="as24-carousel-item">
    <a class="custom_card" href="http://autoscout24.com">
      <div class="custom-card__picture">
        <img class="custom-card__image"
             data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/5.jpeg.pagespeed.ce.-boJ763fJW.jpg"
             src=""
             alt="">
      </div>
      <div class="custom-card__description">
        <h5>BMW X4 M40i</h5>
        <p>Ein bisschen R</p>
      </div>
    </a>
  </div>
</as24-carousel>

<hr>

<h3 class="sc-font">Slider</h3>

<!-- slider carousel -->
<a href="javascript:void(0);">
  <as24-carousel id="slider"
                 mode="slider"
                 gap="0"
                 preview="true"
                 indicator="true">
    <div class="as24-carousel-item">
      <div class="custom-card__picture">
        <img class="custom-card__image"
             data-src="http://placehold.it/1936x2592/ff7500/ffffff?text=1936x2592,2"
             src=""
             alt="">
      </div>
    </div>
    <div class="as24-carousel-item">
      <div class="custom-card__picture">
        <img class="custom-card__image"
             data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/5.jpeg.pagespeed.ce.-boJ763fJW.jpg"
             src=""
             alt="">
      </div>
    </div>
    <div class="as24-carousel-item">
      <div class="custom-card__picture">
        <img class="custom-card__image"
             data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/0.jpeg.pagespeed.ce.r9T0YBgvdW.jpg"
             src=""
             alt="">
      </div>
    </div>
    <div class="as24-carousel-item">
      <div class="custom-card__picture">
        <img class="custom-card__image"
             data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/1.jpeg.pagespeed.ce.tbXt-f6ctq.jpg"
             src=""
             alt="">
      </div>
    </div>
    <div class="as24-carousel-item">
      <div class="custom-card__picture">
        <img class="custom-card__image"
             data-src="https://www.autoscout24.de/cms-contentservice/de-DE/55110115/0/3.jpeg.pagespeed.ce.QIpBWuZ6fh.jpg"
             src=""
             alt="">
      </div>
    </div>
  </as24-carousel>
</a>

<script src="http://as24-showcar-ui.aws.autoscout24.com/dist/showcar-ui.js"></script>
<script src="../dist/showcar-carousel.js"></script>

<script>
  document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')

  document.querySelector('#events-catcher').addEventListener('as24-carousel.slide', function(e) {
    console.log(e.detail);
  });
</script>

</body>
</html>
