.as24-carousel__item {
  width: 310px;
  height: 310px;
}

.gallery-picture {
    background: #f2f0f0;
    margin: 5px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
