body { width: 100%; margin: 0; padding: 0; }
.as24-carousel__button[data-direction="left"] { left: 0; }
.as24-carousel__button[data-direction="right"] { right: 0; }

.as24-carousel__item {
  width: 100vw;
  height: 75vw;
}

@media (min-width: 640px) {
  .carousel-as-slider,
  .as24-carousel__item {
    width: 640px;
    height: 480px;
  }
}

.gallery-picture {
  flex: 1;
  position: relative;
  height: 100%;
}

.gallery-picture__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  max-width: 100%;
  max-height: 100%;
}
