// Vars carousel mode ( default )
$carousel-item-width-xs: calc(100vw - 20px);
$carousel-item-width-s: calc(100vw - 40px);
$carousel-item-width-m: 310px;
$carousel-gap: 20px;

// Lazy image aspect ratio load hack for fixing the flickering bug on webkit
// Currently the style is set to support 4:3 images if the carousel uses an different format please overwrite "padding-bottom"
// Aspect ratio of the image ( 100% width / 75% height = 1.333 )
$carousel-image-aspect-ratio: 75%;
$carousel-description-padding: 20px 20px 28px;
$carousel-background-color: rgba(0, 0, 0, .5);
$carousel-pagination-width: 50px;
$carousel-pagination-height: 50px;
$carousel-pagination-arrow-size: 30%;

// Vars slider mode ( default )
$slider-max-width: 640px;
$slider-pagination-width: 40px;
$slider-pagination-height: 60px;
$slider-pagination-arrow-size: 15px;
$slider-pagination-arrow-position: center;
$slider-aspect-ratio: 75%;
$slider-gap: 0px;

as24-carousel {
  display: block;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  // CAROUSEL PAGINATION
  .as24-pagination {
    border: 2px solid transparent;
    position: absolute;
    top: 50%;
    margin-top: -$carousel-pagination-height/2;
    vertical-align: center;
    width: $carousel-pagination-width;
    height: $carousel-pagination-height;
    background: $carousel-background-color url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDI4IDQ4Ij48c3R5bGU+LnN0MHtmaWxsLXJ1bGU6ZXZlbm9kZDtjbGlwLXJ1bGU6ZXZlbm9kZDtmaWxsOiNmZmZ9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMjcuNCAyNC4xTDMuMSA0OCAwIDQ1LjFsMjEuNC0yMUwwIDMuMSAzLjEgMHoiLz48L3N2Zz4=) no-repeat 18px center;
    background-size: $carousel-pagination-arrow-size;
    transition: background-color 0.3s, opacity .3s;

    &[data-direction="left"] {
      left: $carousel-gap/2;
      transform: rotate(180deg);
    }

    &[data-direction="right"] {
      right: $carousel-gap/2;
    }

    &.hide {
      opacity: 0;
    }

    &:hover:not(.hide) {
      background-color: rgba(0, 0, 0, .8);
    }

    &:focus {
      outline: none;
    }
  }

  > a {
    text-decoration: none;
  }

  // CAROUSEL ITEM
  as24-carousel-item {
    border: 1px solid #dcdcdc;
    display: inline-block;
    width: $carousel-item-width-xs;
    margin: 0 $carousel-gap/2;
    background-color: white;
    text-align: center;
    line-height: 1.5rem;
    vertical-align: top;
    margin-bottom: 1px;

    > a {
      display: block;
    }


    .as24-carousel-image-container {
      position: relative;
      display: block;
      overflow: hidden;
      height: 0;

      padding-bottom: $carousel-image-aspect-ratio;

      img {
        // Expanding the image to the bounds of its parent container ( caution distortion! if aspect ratio is not set correctly )
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ddd;
      }
    }

    .as24-carousel-description {

      padding: $carousel-description-padding;
      vertical-align: top;

      h2, h3, h4, h5 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        display: block;
      }

      p {
        color: #333;
      }

    }

    @media screen and (min-width: 320px) {

      width: $carousel-item-width-s;

      &:first-child {
        margin-left: $carousel-gap;
      }

      &:last-child {
        margin-right: $carousel-gap;
      }
    }

    @media screen and (min-width: 480px) {
      width: $carousel-item-width-m;
    }
  }

  .as24-carousel-wrapper {
    overflow: hidden;
  }

  .as24-carousel-container {
    display: inline-block;
    white-space: nowrap;
    transition: transform .9s;
    perspective: 1000px;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
  }

  // MODE: SLIDER
  &[mode="slider"] {

    max-width: $slider-max-width;

    .as24-pagination {

      width: $slider-pagination-width;
      height: $slider-pagination-height;
      margin-top: -$slider-pagination-width/2;
      background-size: $slider-pagination-arrow-size;
      background-position: $slider-pagination-arrow-position;

      &[data-direction="left"] {
        left: 0px;
      }
      &[data-direction="right"] {
        right: 0px;
      }
    }

    .as24-carousel-wrapper {
      position: relative;
      height: 0;
      padding-bottom: $slider-aspect-ratio;
      .as24-carousel-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    as24-carousel-item {
      position: absolute;
      top: 0;
      left: 0;

      transition: transform .3s;
      perspective: 1000px;
      transform: translate3d(100%, 0, 0);
      width: 100%;
      height: 100%;
      border: none;
      margin: $slider-gap;

      &:first-of-type {
        transform: translate3d(0, 0, 0);
      }

      &.no-transition {
        transition: none;
      }

      @media screen and (min-width: 320px) {
        margin: $slider-gap;
        &:first-child {
          margin: $slider-gap;
        }
        &:last-child {
          margin: $slider-gap;
        }
      }
    }
  }
}
